<% content_for :title do %>Home<% end %>

<% content_for :header_pic do %><%=image_tag("skills_trends-longshadow.png", alt: "Example Image")%><% end %>

<hr>
<div id="postcards">
	<div class="clear"></div>
	<div class="postcard left shadow">
		<a class="link" href="siliconvalley">
			<img class="city left" src="http://img2.etsystatic.com/000/0/5859333/il_fullxfull.336146854.jpg">Silicon Valley
		</a>
	</div>
	<div class="postcard left shadow smaller">
		<a class="link" href="seattle">
			<img class="city left" src="http://img3.etsystatic.com/012/0/5859333/il_fullxfull.434543639_r02m.jpg">
			Seattle
		</a>
	</div>

	<div class="postcard left shadow smaller">
		<a class="link" href="index">
			<img class="city left" src="http://img3.etsystatic.com/000/0/5859333/il_fullxfull.247744195.jpg">
			New York
		</a>
	</div>
	<div class="postcard left shadow">
		<a class="link" href="index">
			<img class="city left" src="http://img1.etsystatic.com/008/0/5859333/il_570xN.377741349_llsp.jpg">
			Los Angeles
		</a>
	</div>


	<div class="postcard left shadow">
		<a class="link" href="index">
			<img class="city left" src="http://img0.etsystatic.com/000/0/5859333/il_fullxfull.337973112.jpg">
			Baltimore
		</a>
	</div>
	<div class="postcard left shadow smaller">
		<a class="link" href="index">
			<img class="city left" src="http://img1.etsystatic.com/002/0/5859333/il_570xN.407318741_5euw.jpg">
			Atlanta
		</a>
	</div>
	<div class="postcard left shadow smaller">
		<a class="link" href="index">
			<img class="city left" src="http://img2.etsystatic.com/000/0/5859333/il_570xN.244199370.jpg">
			Boston
		</a>
	</div><div class="postcard left shadow">
		<a class="link" href="index">
			<img class="city left" src="http://img0.etsystatic.com/000/0/5859333/il_570xN.319291064.jpg">
			Pittsburgh
		</a>
	</div>
</div>









<!-- -------------------------- -->
<!-- 
<div class="postcard left shadow">
	<a href="index">
		<img class="city left" src="http://enfuzed.com/wp-content/uploads/2013/04/san-francisco.png">
		San Franciso <br> Silicon Valley
	</a>
</div>
<div class="postcard left shadow">
	<a href="index">
		<img class="city left" src="http://enfuzed.com/wp-content/uploads/2013/04/seattle.png">
		Seattle
	</a>
</div>
<div class="postcard left shadow">
	<a href="index">
		<img class="city left" src="http://enfuzed.com/wp-content/uploads/2013/04/washington-dc.png">
		Washington D.C.
	</a>
</div>
<div class="postcard left shadow">
	<a href="index">
		<img class="city left" src="http://enfuzed.com/wp-content/uploads/2013/04/new-york-city.png">
		New York
	</a>
</div>
<div class="postcard left shadow">
	<a href="index">
		<img class="city left" src="http://enfuzed.com/wp-content/uploads/2013/04/chicago.png">
		Chicago
	</a>
</div> -->












<!-- <a class="city_name shadow" href="">San Francisco</a>
 -->

<div class="clear"></div>
<span id="footnote">Images from <a class ="footnote" href="http://www.etsy.com/shop/loosepetals?ref=seller_info">Loosepetals</a></span>