#wrapper{
	width:960px;
	margin:0px auto;
	padding-top:30px;
}
table{
	border-collapse: collapse;
}
table th{
	padding:12px;
	background-color:silver;
}
table td{
	text-align:center;
	padding:5px 5px 0px 5px;
}
#button{
	border:1px solid black;
	border-radius:6px;
	background-color:blue;
	height:23px;
	width:100px;
	color:white;
}
table tr.silver{
	background-color:#EDEDED;
}