<!DOCTYPE html>
<html>
<head>
  <title>GroupProj</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery-1.10.1.min", "skills" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Skills#index</h1>
<p>Find me in app/views/skills/index.html.erb</p>
<%= yield %>
<div id="container">
	

</div>

</body>
</html>



