body {
	background-color: #fff;
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h4 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

label{
	padding: 10px 0;
	width: 65px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#wrapper{
	margin: 0 15px 0 15px;
}

#header{
	margin-left: 10px;
}

#header h4{
	padding: 14px 15px 10px 0 !important;
}

.container{
	margin: 15px 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
	width: 600px !important;
}

.indent_left_2{
	padding-left: 20px;
}

.control-group{
	margin-bottom: 0 !important;
}

.controls{
	margin-left: 200px !important;
	width: 220px;
}

.alert-error, 
.alert-success{
	padding: 10px;
}