<h2> User Information</h2>


	First Name: <%= @user.first_name %>
	<br>
	Last Name: <%= @user.last_name %>	
	<br>
	Email: <%= @user.email_address %>
	<br>
		<a href="<%= @user.id %>/edit">Edit Info</a>

	<p>	
		<a href="/users">Index</a>
		<!-- Carol's href link had ../users/ -->
	</p>	


