
<% content_for :title do %>
	Display all users
<% end %>

<h1>Display all Users</h1>



<form>
	<input type="text" name="name" placeholder="name">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="email" placeholder="email">
	<input type="submit" name="submit" class="btn btn-info" placeholder="Create new user">
</form>
