
<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html class="desktop ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="desktop ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="desktop ie9" lang="en"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
      
	<!-- Meta information -->
	<meta charset="utf-8" />
	<title>BigWig - Minimal Portfolio &amp; Corporate Template - by pixelentity</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="index, follow" /> 
 
	<!--[if lt IE 9]>
		<script type="text/javascript">/*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary subline time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/</script>
	<![endif]-->
	<script type="text/javascript">if(Function('/*@cc_on return document.documentMode===10@*/')()){document.documentElement.className+=' ie10';}</script>
	<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

	<!-- favicon & idevice homepage thumb -->
<!-- 	<link rel="shortcut icon" href="favicon.jpg" /> -->
	
	<!-- compressed stylesheet -->
<!-- 	<link rel="stylesheet" href="theme/compressed/template.min.css" type="text/css" media="all" /> -->
	<!-- colors -->
<!-- 	<link rel="stylesheet" href="css/color.css" /> -->

	<!-- font replacement -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300' rel='stylesheet' type='text/css'>
	<!-- end font replacement -->

	<!-- only jQuery and selectivizr loaded here, custom scripts are loaded end of body section 
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>-->
	<!--[if (gte IE 6)&(lte IE 8)]>
	<script type="text/javascript" src="framework/js/selectivizr-min.js"></script>
	<![endif]--> 

</head>
   
<body> 
	<!--wrapper for boxed version-->
    <div class="site-wrapper">
		<div class="sticky-bar"> 
		<div class="info-bar"> 
			<div class="pe-container"> 
				<div class="row-fluid">
					<div class="span5 tagline">
						The kingpin of business templates. Fact!
					</div>

					<div class="span7">
						<div>
							<div class="email"><i class="icon-pencil"></i><a href="mailto:email@domain.com" data-rel="tooltip" data-position="bottom" data-original-title="Email Us" >email@domain.com</a></div>
						
							<div class="phone"><i class="icon-phone"></i><a href="#" data-rel="tooltip" data-position="bottom" data-original-title="Call Us Now" >+353 (0) 123 456 78</a></div>
						
							<div class="sm-icon-wrap">
								<a href="#" data-rel="tooltip" data-position="bottom" data-original-title="Twitter"><i class="icon-twitter-circled"></i></a>
								<a href="#" data-rel="tooltip" data-position="bottom" data-original-title="Facebook"><i class="icon-facebook-circled"></i></a>
								<a href="#" data-rel="tooltip" data-position="bottom" data-original-title="Linkedin"><i class="icon-linkedin-circled"></i></a>
								<a href="#" data-rel="tooltip" data-position="bottom" data-original-title="Linkedin"><i class="icon-pinterest-circled"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div><!--end container-->	
		</div><!--end infobar-->	

		<!--wide wrapper-->
		<div class="menu-bar"> 
			<div class="pe-container"> 
				<header class="row-fluid">
							   
					<!--small logo-->
					<div class="logo span4">
<!-- 						<a href="index.html" title="Home" ><img src="img/content/logo_head.png" alt="logo" /></a> -->
					</div>

					<div class="menu-wrap span8">
						<!--main navigation-->
						
	<!--main menu-->
	<div class="mainNav clearfix">
						
		<!--main nav-->
		<ul class="nav" id="navigation">
			
			<li class="menu-item dropdown "><a href="#"><b class="icon-down-open-mini"></b>HOME<span class="subtitle">Basecamp</span></a>
				<ul class="dropdown-menu">
					<li class="menu-item"><a href="index.html">Fullscreen Slider</a></li>
					<li class="menu-item"><a href="index6.html">Fullscreen Video</a></li>
					<li class="menu-item"><a href="index1.html">Full Width Slider</a></li>
					<li class="menu-item"><a href="index7.html">Full Width Video</a></li>
					<li class="menu-item"><a href="index2.html">Wide Projects</a></li>
					<li class="menu-item"><a href="index3.html">Video</a></li>
					<li class="menu-item"><a href="index4.html">Boxed Grid</a></li>
					<li class="menu-item"><a href="index5.html">Small Slider</a></li>
					<li class="menu-item dropdown last"><a href="#">Third Level<b class="icon-down-open-mini"></b></a>
						<!--third level menu example-->
						<ul class="dropdown-menu sub-menu">
							<li class="menu-item"><a href="#">Third</a></li>
							<li class="menu-item"><a href="#">Level</a></li>
							<li class="menu-item last"><a href="#">Example</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="menu-item dropdown "><a href="#"><b class="icon-down-open-mini"></b>PAGES<span class="subtitle">Who we are</span></a>
				<ul class="dropdown-menu">
					<li class="menu-item"><a href="about.html">About Us</a></li>
					<li class="menu-item"><a href="staff.html">Meet The Team</a></li>
					<li class="menu-item"><a href="services.html">Our Services</a></li>
					<li class="menu-item"><a href="pricing_table.html">Pricing Table</a></li>
					<li class="menu-item"><a href="faq.html">FAQ</a></li>
					<li class="menu-item"><a href="search.html">Search Results</a></li>
					<li class="menu-item"><a href="elements.html">Elements</a></li>
				</ul>
			</li>
			<li class="menu-item dropdown "><a href="#"><b class="icon-down-open-mini"></b>OUR WORK<span class="subtitle">See our work</span></a>
				<ul class="dropdown-menu">
					<li class="menu-item"><a href="portfolio_fullgrid.html">Portfolio Fullscreen</a></li>
					<li class="menu-item"><a href="portfolio_featured.html">Portfolio Featured</a></li>
					<li class="menu-item"><a href="portfolio_columns.html">Portfolio Columns</a></li>
					<li class="menu-item"><a href="portfolio_list.html">Portfolio List</a></li>
					<li class="menu-item"><a href="project-slider.html">Project Slider</a></li>
					<li class="menu-item last"><a href="project-video.html">Project Video</a></li>
					<li class="menu-item last"><a href="project-image.html">Project Image</a></li>
					<li class="menu-item"><a href="project-gallery.html">Project Gallery</a></li>
				</ul>
			</li>
			<li class="menu-item dropdown "><a href="#"><b class="icon-down-open-mini"></b>GALLERY<span class="subtitle">Our Images</span></a>
				<ul class="dropdown-menu">
					<li class="menu-item"><a href="gallery_fullgrid.html">Fullscreen Gallery</a></li>
					<li class="menu-item"><a href="project-gallery.html">Project Gallery</a></li>
					<li class="menu-item"><a href="gallery-video.html">Video Gallery</a></li>
				</ul>
			</li>
			<li class="menu-item  dropdown "><a href="#"><b class="icon-down-open-mini"></b>BLOG <span class="subtitle">Latest news</span></a>
				<ul class="dropdown-menu">
					<li class="menu-item"><a href="blog_main.html">Blog List</a></li>
					<li class="menu-item"><a href="blog_post.html">Single Post</a></li>
				</ul>
			</li>
			<li class="menu-item dropdown "><a href="#"><b class="icon-down-open-mini"></b>CONTACT <span class="subtitle">Get in touch</span></a>
				<ul class="dropdown-menu">
					<li class="menu-item"><a href="contact.html">Contact From</a></li>
					
					<li class="menu-item"><a href="quotation.html">Quotation Request</a>
					<li class="menu-item dropdown"><a href="#">Third Level<b class="icon-down-open-mini"></b></a>
						<!--third level menu example-->
						<ul class="dropdown-menu sub-menu">
							<li class="menu-item"><a href="index.html#">Third</a></li>
							<li class="menu-item"><a href="index.html#about">Level</a></li>
							<li class="menu-item last"><a href="index.html#services">Example</a></li>
						</ul>
					</li>
					
				</ul>


			</li>
		</ul>
	</div>
	
	
	<!--drop navigation-->
	<div id="drop-nav" class="mobile-nav" data-label="Menu...">
	</div>					</div>

				</header><!-- end header  -->
			</div><!--end container-->	
		</div> <!--end top bar-->
	</div><!--end sticky bar-->

	

<div class="site-body">
	<div class="pe-full-page">
<h2>Hello</h2>
		<!-- slider -->
		<div
			class="pe-block nomargin peSlider peVolo" 
			data-autopause="disabled" 
			data-plugin="peVario"
			data-orig-width="940"
			data-orig-height="300"
			data-height="300,container,1024"
			data-transition="random"
			data-video-source="img/content/video/video.ogv"
			data-video-formats="mp4"
			data-video-fallback="img/content/slider/01.jpg"
			data-video-loop="disabled"
			>
			 
			<div data-delay="7" class="visible">
			
				<div class="peCaption">
					<div class="peCaptionLayer pe-caption-style-black" data-delay="0.5" data-transition="fadeInDown" data-x="230" data-y="0">
						INSPIRATIONAL
					</div>
					<div class="peCaptionLayer pe-caption-style-black pe-caption-thick" data-delay="1" data-transition="fadeInLeft" data-x="230" data-y="70">
						BIG TEXT LINE
					</div>
					<div class="peCaptionLayer pe-caption-style-black pe-caption-small" data-delay="1.5" data-transition="fadeInUp" data-x="233" data-y="150">
						WITH A SMALLER LONG TEXT LINE
					</div>
				</div>
			</div>

			<div data-delay="7">

				<!-- caption layers -->
				<div class="peCaption">	
					<div class="peCaptionLayer pe-caption-style-black" data-delay="0.5" data-transition="bounceIn" data-x="290" data-y="0">
						A SLOGAN
					</div>
					<div class="peCaptionLayer pe-caption-style-black pe-caption-small" data-delay="1" data-transition="fadeIn" data-x="340" data-y="80">
						TO PROMOTE AMAZING 
					</div>
					<div class="peCaptionLayer pe-caption-style-black pe-caption-thick" data-delay="1.5" data-transition="rollIn" data-x="390" data-y="120">
						SERVICES 
					</div>
				</div>
			</div>

			<div data-delay="0">

				<!-- caption layers -->
				<div class="peCaption">
					<div class="peCaptionLayer pe-caption-style-black" data-delay="0.5" data-transition="bounceInDown" data-x="200" data-y="0">
						CALL TO ACTION
					</div>
					<div class="peCaptionLayer pe-caption-style-black pe-caption-small" data-delay="1.5" data-transition="fadeInUp" data-x="160" data-y="90">
						A KICK-ASS INVITATION TO DO SOMETHING
					</div>
					
					<div class="peCaptionLayer pe-caption-style-black pe-caption-thick" data-delay="2.2" data-transition="bounceInUp" data-x="345" data-y="120">
						<a href="#" class="btn btn-danger">AND A BUTTON TO MAKE IT HAPPEN</a>
					</div>
				</div>
			</div>
			

		</div>
		<!-- end slider -->

	</div>
</div>


	<div class="footer small">
				<!--lower footer-->
		<section class="foot-lower">
			<div class="pe-container">
				<div class="row-fluid ">
					<div class="span12">
						<div class="span6 copyright">
							<span>&copy; BigWig - a clean &amp; minimalist template by</span>
							<a href="http://themeforest.net/user/pixelentity">pixelentity</a>.
						</div>
						
						<div class="span6">
							
							<span class="pull-right">Powered by HTML5</span>
							
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
    </div><!-- end site wrapper -->

	<!-- custom compressed javascript -->
	<script type="text/javascript" src="theme/compressed/template.min.js"></script>

</body>
</html>
