// Place all the styles related to the Friendbook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.notification_button{
	float:left;
}

table{
	border-collapse:collapse;
	min-width:450px;
}
#table th{
	border: 1px solid silver;
}
#table tr{
	border: 1px solid silver;
}
#table td{
	border: 1px solid silver;
}
