* {
	border-collapse: collapse;
}

th {
	border: 1px solid black;
	min-width: 100px;
	text-align: left;
	padding: 3px 5px;
}

td {
	border: 1px solid black;
	text-align: left;
	padding: 3px 5px;
}

tr.highlighted {
	background-color: black;
	color: white;
}